@model ApplicationBDO.Models.TransportModels

@{

}

    <div id="content">
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-6">
                    <div class="jarviswidget jarviswidget-color-orange2" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Usuwanie transportującego</h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body no-padding">
                                @using (Html.BeginForm())
                                {
                                    <header>
                                        Czy na pewno chcesz usunąć transportującego?
                                    </header>
                                    @Html.AntiForgeryToken()

                                    <footer>
                                        <a href="@Url.Action("Index","Transport")" , class="btn btn-primary"><i class="fa fa-arrow-left"></i> Powrót</a>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa fa-remove"></i> Usuń
                                        </button>
                                    </footer>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>