body {
    margin: 0;
    padding: 10px;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

p,
table, caption, td, tr, th {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 10px;
}

h1 {
    font-size: 16px;
    padding: 0 0 10px 0;
    text-align: center;
}

table {
    text-align: center;
    font-size: 12px;
    margin: 0 0 40px 0;
    width: 100%;
    display: table;
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
 table.dep {
     border-left: 1px solid #dddddd;
     border-top: 1px solid #dddddd;
}
    table.dep th, table.dep td {
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    table.dep th {
        font-weight: bold;
        background: #e6690b;
    }
th {
    text-align: left;
}

table.mini {
    font-size: 7px;
}
    table.mini th, table.mini td {
        font-size: 7px;
        padding: 6px;
    }