@using ApplicationBDO.ViewModels
@using ApplicationBDO.App_Helpers
@model AccountLoginModel

<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 center-box">
            <div class="well no-padding">
                <form action="@Url.Action("login", "account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        Logowanie
                    </header>
                    @Html.HiddenFor(m => m.ReturnUrl)
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">E-mail</label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope-o"></i>
                                <input type="email" name="email" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-envelope-o txt-color-teal"></i> Wprowadź e-mail</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Hasło</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Wprowadź hasło</b>
                            </label>
                        </section>
                        <section>
                            <label class="checkbox">
                                <input type="checkbox" name="rememberMe" value="true" checked="checked">
                                <input type="hidden" name="rememberMe" value="false" />
                                <i></i>Zapisz dane
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Zaloguj
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

@section pagespecific {
    <script type="text/javascript">
        $(function () {
            $("#login-form").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },
                messages: {
                    email: {
                        required: 'Proszę uzupełnić adres e-mail',
                        email: 'Proszę uzupełnić poprawnie adres e-mail'
                    },
                    password: {
                        required: 'Proszę uzupełnić hasło',
                        minlength: 'Proszę podać więcej niż 3 znaki'
                    }
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}